<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- este logger depende do componente logconfigurator,
	configurado em produção, para operar corretamente. 
	para fucionar adequadamente -->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}][%-5p] %c %m %n"></param>
		</layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/app/cobranca-app.log" />
		<param name="MaxFileSize" value="2048KB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}][%-5p] %c %m %n"></param>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>

	<appender name="FILE_ERR" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/app/tccbuscaimagem-err.log" />
		<param name="MaxFileSize" value="1024KB" />
		<param name="MaxBackupIndex" value="2" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}][%-5p] %c %m %n"></param>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>

	<root>
		<appender-ref ref="FILE" />
		<appender-ref ref="FILE_ERR" />
	</root>
</log4j:configuration>
