<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
		
	<session-factory name="testesimples">
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.datasource">java:jdbc/imagens</property>
		<property name="hibernate.setup">true</property>
		
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		
		<mapping class="br.com.tccbuscaimagem.common.Imagem"/>
		<mapping class="br.com.tccbuscaimagem.common.Caracteristica"/>
		<mapping class="br.com.tccbuscaimagem.common.ImagemCaracteristica"/>
	</session-factory>
</hibernate-configuration> 
